<div <%= "class='tweet tweet_#{tweet.tweet_id}'" %>>
	<div class="sub_tweet">
		<div class="profile_picture">
			<img <%= "src='#{tweet.user.profile_image_url}'" %>/>
		</div>
		<div class="tweet-details">
			<strong>
				<a <%= "href='https://twitter.com/#{tweet.user.screen_name}/statuses/#{tweet.tweet_id}'" %> target="_blank"><%= tweet.user.name %></a>
			</strong>
			<small class="username"><%= "@#{tweet.user.screen_name}" %></small>
			<span class="time" <%= "title='#{tweet.created_at.iso8601}'" %>></span>
			<p <%= "class='tweet-text #{tweet.tweet_id}'" %>><span class="original-text hide"><%= tweet.text %></span></p>
		</div>
		<div class"clear"></div>
	</div>
	<div class="hide tweet_actions">
		<div class="row-fluid icons actions tweet_">
			<span class="reply"><span class="reply-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/tweet?in_reply_to=#{tweet.tweet_id}'" %>>Reply</a></span>
			<span class="retweet"><span class="retweet-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/retweet?tweet_id=#{tweet.tweet_id}'" %>>Retweet</a></span>
			<span class="favorite"><span class="favorite-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/favorite?tweet_id=#{tweet.tweet_id}'" %>>Favorite</a></span>
			<div class"clear"></div>
		</div>		
	</div>
</div>