<div class="sub-contents">
	<div class="page-description">
		<h2>Top tweets, topics, photos, videos and links from the past 24 hours</h2>
	</div>
	
	<% if @top_tweets.first %>
		<div class="hero-unit">		
			<div class="row-fluid">
				<div class="span1 profile_picture">
					<img <%= "src='#{@top_tweets.first.user.profile_image_url}'" %>/>				
				</div>
				<div class="span10 relative">
					<strong>
						<a <%= "href='https://twitter.com/#{@top_tweets.first.user.screen_name}' title='@#{@top_tweets.first.user.screen_name}'" %> target="_blank" ><%= @top_tweets.first.user.name %></a>
					</strong>
					<small class="username"><%= "@#{@top_tweets.first.user.screen_name}" %></small>
					<span class="time" <%= "title='#{@top_tweets.first.created_at.iso8601}'" %>></span>
					<h1 class="tweet-text"><span class="original-text hide"><%= @top_tweets.first.text %></span></h1>
					<div class="hero-icons">
						<span class="reply"><span class="reply-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/tweet?in_reply_to=#{@top_tweets.first.tweet_id}'" %>>Reply</a></span>
						<span class="retweet"><span class="retweet-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/retweet?tweet_id=#{@top_tweets.first.tweet_id}'" %>>Retweet</a></span>
						<span class="favorite"><span class="favorite-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/favorite?tweet_id=#{@top_tweets.first.tweet_id}'" %>>Favorite</a></span>													
						<span>&nbsp;.&nbsp;</span>													
						<span><a <%= "href='https://twitter.com/#{@top_tweets.first.user.screen_name}/status/#{@top_tweets.first.tweet_id}' target='_blank'" %>>Open</a></span>
					</div>				
				</div>
			</div>
		</div>  		
  <% end %>

	<% if @top_tweets[1] && @top_tweets[2] %>
		<div class="row-fluid">
			<div class="span6">
				<div <%= "class='row-fluid tweet borderless tweet_#{@top_tweets[1].tweet_id}'" %>>
					<div class="span1 profile_picture">
						<img <%= "src='#{@top_tweets[1].user.profile_image_url}'" %>/>
					</div>
					<div class="span10 relative">
						<strong>
							<a <%= "href='https://twitter.com/#{@top_tweets[1].user.screen_name}' title='@#{@top_tweets[1].user.screen_name}'" %> target="_blank" ><%= @top_tweets[1].user.name %></a>
						</strong>
						<small class="username"><%= "@#{@top_tweets[1].user.screen_name}" %></small>
						<span class="time" <%= "title='#{@top_tweets[1].created_at.iso8601}'" %>></span>																	
						<div class="hide icons">
							<span class="reply"><span class="reply-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/tweet?in_reply_to=#{@top_tweets[1].tweet_id}'" %>>Reply</a></span>
							<span class="retweet"><span class="retweet-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/retweet?tweet_id=#{@top_tweets[1].tweet_id}'" %>>Retweet</a></span>
							<span class="favorite"><span class="favorite-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/favorite?tweet_id=#{@top_tweets[1].tweet_id}'" %>>Favorite</a></span>													
							<span>&nbsp;.&nbsp;</span>													
							<span><a <%= "href='https://twitter.com/#{@top_tweets[1].user.screen_name}/status/#{@top_tweets[1].tweet_id}' target='_blank'" %>>Open</a></span>
						</div>
						<p <%= "class='tweet-text #{@top_tweets[1].tweet_id}'" %>><span class="original-text hide"><%= @top_tweets[1].text %></span></p>
					</div>
				</div>			
			</div>
			<div class="span6">
				<div <%= "class='row-fluid tweet borderless tweet_#{@top_tweets[2].tweet_id}'" %>>
					<div class="span1 profile_picture">
						<img <%= "src='#{@top_tweets[2].user.profile_image_url}'" %>/>
					</div>
					<div class="span10 relative">
						<strong>
							<a <%= "href='https://twitter.com/#{@top_tweets[2].user.screen_name}' title='@#{@top_tweets[2].user.screen_name}'" %> target="_blank" ><%= @top_tweets[2].user.name %></a>
						</strong>
						<small class="username"><%= "@#{@top_tweets[2].user.screen_name}" %></small>
						<span class="time" <%= "title='#{@top_tweets[2].created_at.iso8601}'" %>></span>																	
						<div class="hide icons">
							<span class="reply"><span class="reply-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/tweet?in_reply_to=#{@top_tweets[2].tweet_id}'" %>>Reply</a></span>
							<span class="retweet"><span class="retweet-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/retweet?tweet_id=#{@top_tweets[2].tweet_id}'" %>>Retweet</a></span>
							<span class="favorite"><span class="favorite-icon twitter-icon">&nbsp;</span><a <%= "href='https://twitter.com/intent/favorite?tweet_id=#{@top_tweets[2].tweet_id}'" %>>Favorite</a></span>													
							<span>&nbsp;.&nbsp;</span>													
							<span><a <%= "href='https://twitter.com/#{@top_tweets[2].user.screen_name}/status/#{@top_tweets[2].tweet_id}' target='_blank'" %>>Open</a></span>
						</div>
						<p <%= "class='tweet-text #{@top_tweets[2].tweet_id}'" %>><span class="original-text hide"><%= @top_tweets[2].text %></span></p>
					</div>
				</div>			
			</div>
		</div>		
	<% end %>	
	
	<div class="top-space">
		<div class="tabbable">
		 <ul class="nav nav-pills">
		   <li class="active"><a href="#today-retweets" data-toggle="tab">Tweets</a></li>
		   <li><a href="#today-topics" data-toggle="pill" id="today-topics-button">Topics</a></li>		
		   <li><a href="#today-photos" data-toggle="pill" id="today-photos-button">Photos</a></li>
		   <li><a href="#today-people" data-toggle="pill" id="today-people-button">Tweeps</a></li>
		   <li><a href="#today-links" data-toggle="pill" id="today-links-button">Links</a></li>		
		   <li><a href="#today-videos" data-toggle="pill" id="today-videos-button">Videos</a></li>		
		 </ul>
		 <div class="tab-content">
		   <div class="tab-pane tab-pane2 active in" id="today-retweets">
				<div class="row-fluid">
					<div class="span3">
					  <div class="well sidebar-nav">
					    <ul class="nav nav-list">
					      <li class="nav-header">The Numbers</span></li>
								<li><%= @retweets.length %> popular tweets by <%= @retweets.collect{|x|x.user_id}.flatten.uniq.count %> tweeps with <%= @retweets.collect{|x|x.internal_retweet_count}.flatten.sum %>+ retweets and <%= @retweets.collect{|x|x.reply_count}.flatten.sum %>+ replies.</li>
					    </ul>
					  </div>				
					</div>	
					<div class="span9">
						<%= partial :"partials/tweet", :collection => @retweets %>
					</div>
				</div>
		   </div>
		   <div class="tab-pane tab-pane2" id="today-topics">
				<div class="loading">
					<div>Loading topics and tweets...</div>
					<img src="/assets/img/loading.gif" />
				</div>		   	
		   </div>		
		   <div class="tab-pane tab-pane2" id="today-photos">
				<div class="loading">
					<div>Loading photos...</div>
					<img src="/assets/img/loading.gif" />
				</div>		   	
		   </div>                   
		   <div class="tab-pane tab-pane2" id="today-people">
				<div class="loading">
					<div>Loading tweeps...</div>
					<img src="/assets/img/loading.gif" />
				</div>			
		   </div>		
		   <div class="tab-pane tab-pane2" id="today-links">
				<div class="loading">
					<div>Loading links...</div>
					<img src="/assets/img/loading.gif" />
				</div>
		   </div>
		   <div class="tab-pane tab-pane2" id="today-videos">
				<div class="loading">
					<div>Loading videos...</div>
					<img src="/assets/img/loading.gif" />
				</div>
		   </div>												
		 </div>
		</div>		
	</div>
	
</div>